body {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
}

* { color:#fff; text-decoration: none;}

.typewriterr{
  height: 100vh;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 text-align:center;
 padding:0 20px;
}
